---
key: 1
title: Projects
permalink: /projects/
excerpt: Things I enjoy creating.
---
{%
if site.social.linkedin-square %}
<div class="table-wrapper">
  <table class="alt"><tbody><tr><td style="text-align: center;">Visit my
  <a target="_blank" href="{{ site.social.linkedin-square }}">LinkedIn profile</a></td>
  </tr></tbody></table>
</div>{%
endif %}
{%
if site.categories.projects %}
<div class="table-wrapper">
  <table>
    <tbody>{%
      include fn_groupsort_reverse.html unsorted=site.categories.projects groupby='priority' sortby='date'
%}{%  for project in sorted_list %}
      <tr>
        <td><b><a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a></b></td>
        <td>{{ project.date | date: "%b %Y" }}</td>
        <td>{{ project.excerpt | strip_html | truncatewords: 12 }}</td>
        <td>
          {% include techlist.html %}
        </td>
      </tr>{%
      endfor %}
    </tbody>
  </table>
</div>{%
  if site.projects_in_progress %}
  <div class="projects_inprogress">In-progress, more to come.</div>{%
  endif %}{%
endif
%}
